html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

.white-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 50px;
  margin-bottom: 30px;
}

.white-card p {
  color: #57bb6b;
  font-family: "Quattrocento", sans-serif;
}

.button {
  background-color: #57bb6b;
  color: white;
  text-decoration: none;
  border-radius: 14px;
  padding: 13px 15px;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  margin-bottom: 13px;
}

.button-white {
  color: #57bb6b;
  background-color: white;
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  padding: 13px 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
}

header {
  background-image: url(../img/background.webp);
  background-size: cover;
  padding: 30px;
}

main {
  background-color: #66cc66;
}

.white-color-title {
  color: white;
  font-family: Maven Pro;
}

.green-color-title {
  color: #57bb6b;
  font-family: "Maven Pro", sans-serif;
}

.introduction-text {
  background-color: white;
  text-align: center;
  padding: 50px;
}

.introduction-text h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 26px;
}

.introduction-text p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
}

.fruit-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin-bottom: 44px;
}

.product-showcase {
  text-align: center;
}

.product-list h1 {
  font-family: "Sriracha", serif;
}

.banane {
  background-color: #fff8d7;
}

.kiwi {
  background-color: #c4f2ad;
}

.cafe {
  background-color: #d3c6b2;
}

.ichigo {
  background-color: #f7a4b4;
}

.card-emoji {
  width: 80px;
}

.card-title {
  font-family: "Sriracha", serif;
  font-size: 30px;
}

.citation {
  font-family: "Quattrocento", serif;
  font-size: 16px;
  color: black;
}

.kiwi-site {
  text-decoration: underline;
  font-family: "Maven Pro", sans-serif;
  color: black;
  font-size: 14px;
}

.introduction-kiwi {
  background: #c4f2ad;
  text-align: center;
  padding: 50px;
  color: black;
  font-family: "Quattrocento", serif;
}

.introduction-kiwi h1 {
  font-family: "Sriracha", sans-serif;
}

.introduction-kiwi img {
  width: 40px;
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 60px;
}

.presentation-kiwi {
  background: #57bb6b;
  text-align: justify left;
  padding: 30px 60px;
  color: white;
  font-family: "Quattrocento", serif;
  font-size: 16px;
}

.presentation-kiwi h2 {
  font-family: "Maven Pro", sans-serif;
}

.presentation-kiwi img {
  max-width: 100%;
  height: auto;
}

.product-duo {
  background: #c4f2ad;
  text-align: center;
  padding: 30px 30px 50px;
  font-family: "Sriracha", sans-serif;
  font-size: 20px;
  text-align: center;
}

.product-duo h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 26px;
}

footer p {
  color: #57bb6b;
  text-align: center;
  font-family: "Maven Pro", sans-serif;
}

.fruit-emojis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruit-emojis img {
  width: 28px;
}
